# Data Science Tools and Ecosystem

# in this notebook, Diego Pacheco worked on his assignment for IBM Class.

# in this class we can learn:
- **the most popular languages for datascience**
- **some libraries used by Data scientist**
- **arithmetic operation in python**

# Some languages used for data science are:Python, R, SQL, C++.

# Some of the commonly used libraries used by Data Scientists include: 
- **For R: ggplot2, caret and shiny.
# For Phyton: Seaborn, Pandas, Numpy and Matplotlib.

In [5]:
import pandas as pd

# conjunto de datos
data = {
    "Data Science Tools": [
        "Jupyter Notebooks",
        "Apache Zeppelin",
        "Rstudio"
    ]
}

# Dataframe
df = pd.DataFrame(data)

# elimina numeros de indice
df_no_index = lista.to_string(index=False)

# muestra la tabla sin los numeros de indice
print(df_no_index)

Data Science Tools
 Jupyter Notebooks
   Apache Zeppelin
           Rstudio

### Below are a few examples of evaluating arithmetic expressions in Python.
- **Sustraccion**
   ```python
   23 - 8
- **Addition**
  ```python
  5 + 6
- **Divition**
  ```python
  6 / 12

In [6]:
# simple arithmetic expression to multiply
x = (3 * 4) + 5
x

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
y = 200/60
y

3.3333333333333335

### the result is 3 hour and 20 minutes.

## Author
Diego Pacheco Candia